.timer_view{
    font-family: "Oswald-Regular";
    // 右上のセット数表示
    .timer_view-round_wrapper{
        // font-family: Oswald-Regular;
        letter-spacing: 0.1em;
        text-align: right;
        font-size: 2.1rem;
        .timer_view-round_count{
            
        }
        .timer_view-round_unit{
            font-size: 0.6em;
            text-transform: uppercase;
        }
    }

    // タイマーステータス表示（中央）
    .timer_view-status_wrapper{
        // background-color: #eeeeda;
        margin-top: 50px;

        // status list
        .timer_view-status_list_wrapper{
            list-style: none;
            margin: 0px;
            padding: 0px;
            .timer_view-status_list{
                display: inline-block;
                width: 33%;
                color: #b9b9b9;
                font-size: 1.3rem;
                letter-spacing: 0.1em;
                text-align: center;
                text-transform: uppercase;
                &.timer_view-status_list_active{
                    color: #3f3c3c;
                }
            }
        }

        // active status
        .tiemr_view-status{
            font-size: 2.5rem;
            letter-spacing: 0.1em;
            margin-top: 50px;
            text-align: center;
            text-transform: uppercase;
        }

        // countdown timer
        .timer_view-countdown_wrapper{
            letter-spacing: 0.1em;
            font-size: 2.8rem;
            text-align: center;
            .timer_view-countdown{
                padding-left: 0.2em;
            }
            .timer_view-countdown_unit{
                font-size: 0.8em;
            }
        }
    }

    // controll button
    .timer_view-button_area{
        width: 100%;
        // background-color: #d0f0d1;
        .timer_view-button_wrapper{
            list-style: none;
            margin: 30px 0px 0px 0px;
            padding: 0px;
            .timer_view-button{
                display: inline-block;
                width: 45%;
                &:first-child{
                    margin-left: 2.5%;
                    margin-right: 5%;
                }
            }
        }
    }
}
